1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

In [ ]:
*      --  expression
'hello' -- value
-87.8   -- value
-     -- expression
/     -- expression
+     -- expression
6    -- value

#2. What is the difference between string and variable?

In [ ]:
string is a value, which is assigned to a variable.
variable is a container, which stores any type of value.

#3. Describe three different data types.

In [ ]:
 integer -- It includes positive nmbrs, negative nmbrs including zero.   Ex: 23,80,90
 float   --  It includes fractional nmbrs.  Ex: 20.12
 string  -- To create string, we can use single and double quotes. Ex: "swetha", 'shetty',"20.33","123"

#4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of operators, constants and variables.
An expression must have at least one operand (variable or constant) and have one or more operators. 
After evaluating an expression, we get a value.

#5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An expression evaluates to a value. 
A statement does something.
spam = 10    # statement
x + 2         # an expression

#6. After running the following code, what does the variable bacon contain?

In [2]:
bacon = 22
bacon + 1
bacon

22

#7. What should the values of the following two terms be?

In [6]:
'spam'+'spamspam'

'spamspamspam'

In [5]:
'spam'*3

'spamspamspam'

#8.Why is eggs a valid variable name while 100 is invalid?

In [ ]:
variable name can start with only  alphabets and underscore(_)

Ex:  
  eggs
  eggs10
  _eggs

#9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
int(x)
float(x)
str(x)

#10.Why does this expression cause an error? How can you fix it?

In [12]:
'I have eaten ' + str(99)+ ' burritos.';